@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: rgb(214, 204, 204);
  width: 240px;
  height: 100%;
  font-family: 'Inconsolata', monospace;
}
.main {
  /* background-color: yellow; */
  width: 75%;
}
.container {
  display: flex;
  background-color: blanchedalmond;
}
.sidebar nav {
  padding: 45px;
}
.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 33px 0;
}
.infocontainer {
  /* background-color: rgb(132, 255, 0); */
  height: 29%;
  width: 90%;
  margin:100px auto;
  display:flex;
  justify-content: space-around;
}
.devpic img{
    height:95%;
    
}

.sidebar nav li a{
    text-decoration: none;
    color:rgb(14, 13, 13);
}

.hello{
    font-size:75px;
    font-family: 'Lexend Giga', sans-serif;
}
.name{
    font-size: 40px;
    font-family: 'Merriweather', serif;
    margin-top: 0px;
}
.about{

    font-size:19px;
    font-family: 'Lexend Giga', sans-serif;
    margin-top: 0px;
}
.buttons button{
    margin-top: 20px;
    padding:5px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    background-color: rgb(10, 179, 179);
}
.buttons button:hover{
    color:white;
    background-color: rgb(9, 67, 98);
}
.moreabout{
    font-family: 'Inconsolata', monospace;
    margin-top: 10px;
}

.devinfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Merriweather', serif;
}

.contactform{
  padding-top: 120px;
  padding-left: 30px;
  font-family: 'Inconsolata', monospace;
}
.contactform h1{
  font-family: 'Inconsolata', monospace;
}

.contactform form div{
  padding:10px;
  display:flex;
  flex-direction: column;
}

#emailHelp{
  font-size: 8px;
  color:brown;
  margin:0 5px;
}

#exampleInputEmail1{
  width:250px;
  height:30px;
  border-radius: 15px;
  margin-top: 10px;
  border-color: white;
}

#clientphone{
  width:250px;
  height:30px;
  border-radius: 15px;
  margin-top: 10px;
  border-color: white;
}
#isclient{
  margin-top: 0px;
}


.btn{
  width: 100px;
  height:30px;
  border-radius: 5px;
  border-color: azure;
  font-family: 'Inconsolata', monospace;
  margin-top: 20px;
}
.btn:hover{
  background-color: blueviolet;
}

#enquiry{
  border-radius: 15px;
  margin-top: 10px;
  border-color: white;
  height:100px;
  max-width: 230px;
  max-height: 90px;
  border-color: grey;
  border-style: groove;
  padding: 10px;
}
.enquiry{

}