.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  body{
    background-image: url(../img/img.jpg);
  }
  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    border-color: black;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border-color: black;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  #message{
    border-color: black;
  }
  